{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рейтинг Эло</title>
    <link rel="icon" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}


    {% block content %}
    {% endblock %}

    <script>
        // Wait until the DOM is fully loaded
        document.addEventListener('DOMContentLoaded', () => {
            // Sidebar control
            const burger = document.querySelector('.burger');
            const sidebar = document.querySelector('.sidebar')
            const overlay = document.querySelector('.overlay')

            burger.addEventListener('click', () => {
                burger.classList.toggle('open');
                overlay.classList.toggle('active');
                sidebar.classList.toggle('active');
                if (document.body.style.overflow === 'hidden') {
                    document.body.style.overflow = '';
                } else {
                    document.body.style.overflow = 'hidden';
                }
            });
            document.addEventListener('click', (e) => {
                if (burger.classList.contains('open') && !sidebar.contains(e.target) && !burger.contains(e.target)) {
                    burger.classList.remove('open');
                    sidebar.classList.remove('active');
                    overlay.classList.remove('active');
                    document.body.style.overflow = '';
                }
            });
                // Close when clicking a link or button inside menu
            sidebar.addEventListener('click', (e) => {
                if (e.target.closest('a, button')) {
                    burger.classList.remove('open');
                    sidebar.classList.remove('active');
                    overlay.classList.remove('active');
                    document.body.style.overflow = '';
                }
            });

            <!-- disappearing messages -->
            const messages = document.querySelectorAll('.message')
            for (let i = 0; i < messages.length; i++) {
                let message = messages[i]
                let statusBar = message.querySelector('span')
                statusBar.classList.remove('closed')
                requestAnimationFrame(() => {
                    statusBar.classList.add('closed')
                })
                setTimeout(()=>{message.classList.toggle('closed');}, 5000)
            }
        });
    </script>
</body>
</html>
