{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рейтинг Эло</title>
    <link rel="icon" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="overlay"></div>

    <div class="sidebar">
        <ul>
            <li><a href="{% url 'home' %}#player-section">Рейтинг</a></li>
            <li><a href="{% url 'home' %}#match-section">История матчей</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'control_center' %}">Настройки</a></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <a href="{% url 'logout_user' %}" class="cta-button">Выйти</a>
        {% else %}
        <a href="{% url 'login_page' %}" class="cta-button">Войти</a>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}

    <script>
        // Wait until the DOM is fully loaded
        document.addEventListener('DOMContentLoaded', () => {
            // Sidebar control
            const burger = document.querySelector('.burger');
            const sidebar = document.querySelector('.sidebar')
            const overlay = document.querySelector('.overlay')

            burger.addEventListener('click', () => {
                burger.classList.toggle('open');
                overlay.classList.toggle('active');
                sidebar.classList.toggle('active');
                if (document.body.style.overflow === 'hidden') {
                    document.body.style.overflow = '';
                } else {
                    document.body.style.overflow = 'hidden';
                }
            });
            document.addEventListener('click', (e) => {
                if (burger.classList.contains('open') && !sidebar.contains(e.target) && !burger.contains(e.target)) {
                    burger.classList.remove('open');
                    sidebar.classList.remove('active');
                    overlay.classList.remove('active');
                    document.body.style.overflow = '';
                }
            });
                // Close when clicking a link or button inside menu
            sidebar.addEventListener('click', (e) => {
                if (e.target.closest('a, button')) {
                    burger.classList.remove('open');
                    sidebar.classList.remove('active');
                    overlay.classList.remove('active');
                    document.body.style.overflow = '';
                }
            });
        });
    </script>
</body>
</html>
