{% extends 'base.html' %}

{% block content %}
<section id="player-section">
    <div class="text-container">
        <h2>Рейтинг Игроков</h2>
    </div>

    {% if players_page_obj %}
    <table class="table-players">
        <colgroup>
            <col class="col-rank">
            <col class="col-player">
            <col class="col-rating">
        </colgroup>
        <thead>
            <tr>
                <th class="t-rank">Ранг</th>
                <th class="t-player">Имя</th>
                <th class="t-rating">Рейтинг</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players_page_obj %}
            <tr>
                <td class="t-rank">{{ player.rank }}</td>
                <td class="t-player">{% if player.last_name and player.first_name %} {{player.first_name}} {{ player.last_name }} {% else %} {{ player.nickname }} {% endif %}</td>
                <td class="t-rating">{{ player.curr_rating|floatformat:0 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
            <span class="prev">
                {% if players_page_obj.has_previous %}
                    <a href="?players_page=1#player-section">&lt&lt</a>
                    <a href="?players_page={{ players_page_obj.previous_page_number }}#player-section">&lt</a>
                {% endif %}
            </span>
            <span class="current">
                Стр. {{ players_page_obj.number }} из {{ players_page_obj.paginator.num_pages }}
            </span>
            <span class="next">
                {% if players_page_obj.has_next %}
                    <a href="?players_page={{ players_page_obj.next_page_number }}#player-section">&gt</a>
                    <a href="?players_page={{ players_page_obj.paginator.num_pages }}#player-section">&gt&gt</a>
            {% endif %}
            </span>
        <span>
    </div>
    {% else %}
    <p>Данные отсутсвуют.</p>
    {% endif %}
</section>

{% if user.is_authenticated %}
<section id="control-panel-section">
    <div class="text-container">
        <h2>Панель Управления</h2>
    </div>
    <div class="control-panel">
        <div class="cp-left">
            <form method="POST" id="add-player" action="{% url 'add_player' %}">
                <h3>Новый Игрок</h3>
                {% csrf_token %}
                {{ add_player_form.nickname }}
                {{ add_player_form.first_name }}
                {{ add_player_form.last_name }}
                <button type="submit" class="cta-button">Добавить</button>
            </form>
        </div>
        <div class="cp-right">
            <form method="POST" id="add-match" action="{% url 'add_match' %}">
                <h3>Новый Матч</h3>
                {% csrf_token %}
                <div>
                    {{ add_match_form.player_one }}
                    {{ add_match_form.score_one }}
                    <button type="button" id="up-button-player-one">+</button>
                    <button type="button" id="down-button-player-one">-</button>
                </div>
                <div>
                    {{ add_match_form.player_two }}
                    {{ add_match_form.score_two }}
                    <button type="button" id="up-button-player-two">+</button>
                    <button type="button" id="down-button-player-two">-</button>
                </div>
                  <button type="submit" class="cta-button">Добавить</button>
            </form>
        </div>
    </div>
</section>
{% endif %}



<section id="match-section">
    <div class="text-container">
        <h2>История Матчей</h2>
    </div>

    {% if matches_page_obj %}
    <table class="table-matches">
        <colgroup>
            <col class="col-date">
            <col class="col-player1">
            <col class="col-result">
            <col class="col-player2">
        </colgroup>
        <thead>
            <tr>
                <th class="t-date">Дата</th>
                <th class="t-player1"></th>
                <th class="t-result">Результат</th>
                <th class="t-player2"></th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches_page_obj %}
            <tr>
                <td class="t-date">{{ match.created_at|date:"d.m.Y"}}</td>
                <td class="t-player1">{{ match.player_one.nickname}}</td>
                <td class="t-result">{{ match.score_one }}:{{ match.score_two }}</td>
                <td class="t-player2">{{ match.player_two.nickname}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
            <span class="prev">
                {% if matches_page_obj.has_previous %}
                    <a href="?matches_page=1#match-section">&lt&lt</a>
                    <a href="?matches_page={{ matches_page_obj.previous_page_number }}#match-section">&lt</a>
                {% endif %}
            </span>
            <span class="current">
                Стр. {{ matches_page_obj.number }} из {{ matches_page_obj.paginator.num_pages }}
            </span>
            <span class="next">
                {% if matches_page_obj.has_next %}
                    <a href="?matches_page={{ matches_page_obj.next_page_number }}#match-section">&gt</a>
                    <a href="?matches_page={{ matches_page_obj.paginator.num_pages }}#match-section">&gt&gt</a>
            {% endif %}
            </span>
        <span>
    </div>
    {% else %}
    <p>Данные отсутсвуют.</p>
    {% endif %}
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        function capitalizeFirstLetter(string) {
            if (string.length === 0) {
                return string;
            }
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
        // increase score by one for player one
        const upButtonPlayerOne = document.getElementById('up-button-player-one')
        upButtonPlayerOne.addEventListener('click', (e) => {
            addMatchForm.querySelector('#player-one-score-input').value++
        })
        // decrease score by one for player one
        const downButtonPlayerOne = document.getElementById('down-button-player-one')
        downButtonPlayerOne.addEventListener('click', (e) => {
            if (Number(addMatchForm.querySelector('#player-one-score-input').value) > 0) {
                addMatchForm.querySelector('#player-one-score-input').value--
            }
        })
        // increase score by one for player two
        const upButtonPlayerTwo = document.getElementById('up-button-player-two')
        upButtonPlayerTwo.addEventListener('click', (e) => {
            addMatchForm.querySelector('#player-two-score-input').value++
        })
        // decrease score by one for player two
        const downButtonPlayerTwo = document.getElementById('down-button-player-two')
        downButtonPlayerTwo.addEventListener('click', (e) => {
            if (Number(addMatchForm.querySelector('#player-two-score-input').value) > 0) {
                addMatchForm.querySelector('#player-two-score-input').value--
            }
        })

        // add match confirmation
        const addMatchForm = document.getElementById('add-match')
        addMatchForm.addEventListener('submit', (e) => {
            let player1 = addMatchForm.querySelector('#player-one-input')
            let score1 = addMatchForm.querySelector('#player-one-score-input').value
            let player2 = addMatchForm.querySelector('#player-two-input')
            let score2 = addMatchForm.querySelector('#player-two-score-input').value
            let player1_name = player1.options[player1.selectedIndex].text
            let player2_name = player2.options[player2.selectedIndex].text
            if (score1 === "0" && score2 === "0") {
                window.alert("Счет не может быть: 0:0!")
                e.preventDefault();
                return
            }
            if (!window.confirm(`Добавить матч: ${player1_name} ${score1}:${score2} ${player2_name}`)) {
                e.preventDefault();
            }
        })
        // add player confirmation
        const addPlayerForm = document.getElementById('add-player')
        addPlayerForm.addEventListener('submit', (e) => {
            let nickName = addPlayerForm.querySelector('#add-player-nickname').value
            let firstName = addPlayerForm.querySelector('#add-player-fname').value
            let lastName = addPlayerForm.querySelector('#add-player-lname').value
            nickName = capitalizeFirstLetter(nickName)
            firstName = capitalizeFirstLetter(firstName)
            lastName = capitalizeFirstLetter(lastName)
            addPlayerForm.querySelector('#add-player-nickname').value = nickName
            addPlayerForm.querySelector('#add-player-fname').value = firstName
            addPlayerForm.querySelector('#add-player-lname').value = lastName
            if (!window.confirm(`Добавить игрока? "${nickName}" ${firstName} ${lastName}`)) {
                e.preventDefault();
            }
        })
    });
</script>
{% endblock %}
