{% extends 'base.html' %}

{% block content %}
<section id="player-section">
    <div class="text-container">
        <h2>Рейтинг Игроков</h2>
    </div>

    {% if players_page_obj %}
    <table class="table-players">
        <colgroup>
            <col class="col-rank">
            <col class="col-player">
            <col class="col-rating">
        </colgroup>
        <thead>
            <tr>
                <th class="t-rank">Ранг</th>
                <th class="t-player">Имя</th>
                <th class="t-rating">Рейтинг</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players_page_obj %}
            <tr>
                <td class="t-rank">{{ player.rank }}</td>
                <td class="t-player">{{ player.first_name }} {{ player.last_name }}</td>
                <td class="t-rating">{{ player.curr_rating|floatformat:0 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
            <span class="prev">
                {% if players_page_obj.has_previous %}
                    <a href="?players_page=1#player-section">◁</a>
                    <a href="?players_page={{ players_page_obj.previous_page_number }}#player-section">◀</a>
                {% endif %}
            </span>
            <span class="current">
                Стр. {{ players_page_obj.number }} из {{ players_page_obj.paginator.num_pages }}
            </span>
            <span class="next">
                {% if players_page_obj.has_next %}
                    <a href="?players_page={{ players_page_obj.next_page_number }}#player-section">▶</a>
                    <a href="?players_page={{ players_page_obj.paginator.num_pages }}#player-section">▷</a>
            {% endif %}
            </span>
        <span>
    </div>
    {% else %}
    <p>Данные отсутсвуют.</p>
    {% endif %}
</section>

{% if user.is_authenticated %}
<section>
    <div class="text-container">
        <h2>Панель Управления</h2>
    </div>
    <div class="control-panel">
        <div class="cp-left">
            <form method="POST" action="{% url 'add_player' %}">
                <h3>Новый Игрок</h3>
                {% csrf_token %}
                {{ add_player_form.first_name }}
                {{ add_player_form.last_name }}
                <button type="submit" class="cta-button">Добавить</button>
            </form>
        </div>
        <div class="cp-right">
            <form method="POST" action="{% url 'add_match' %}">
                <h3>Новый Матч</h3>
                {% csrf_token %}
                <div>
                {{ add_match_form.player_one }}
                {{ add_match_form.score_one }}
                </div>
                <div>
                {{ add_match_form.player_two }}
                {{ add_match_form.score_two }}
                </div>
                  <button type="submit" class="cta-button">Добавить</button>
            </form>
        </div>
    </div>
</section>
{% endif %}



<section id="match-section">
    <div class="text-container">
        <h2>История Матчей</h2>
    </div>

    {% if matches_page_obj %}
    <table class="table-matches">
        <colgroup>
            <col class="col-date">
            <col class="col-player1">
            <col class="col-result">
            <col class="col-player2">
        </colgroup>
        <thead>
            <tr>
                <th class="t-date">Дата</th>
                <th class="t-player1"></th>
                <th class="t-result">Результат</th>
                <th class="t-player2"></th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches_page_obj %}
            <tr>
                <td class="t-date">{{ match.created_at|date:"d.m.Y"}}</td>
                <td class="t-player1">{{ match.player_one.first_name}}</td>
                <td class="t-result">{{ match.score_one }}:{{ match.score_two }}</td>
                <td class="t-player2">{{ match.player_two.first_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
            <span class="prev">
                {% if matches_page_obj.has_previous %}
                    <a href="?matches_page=1#match-section">◁</a>
                    <a href="?matches_page={{ matches_page_obj.previous_page_number }}#match-section">◀</a>
                {% endif %}
            </span>
            <span class="current">
                Стр. {{ matches_page_obj.number }} из {{ matches_page_obj.paginator.num_pages }}
            </span>
            <span class="next">
                {% if matches_page_obj.has_next %}
                    <a href="?matches_page={{ matches_page_obj.next_page_number }}#match-section">▶</a>
                    <a href="?matches_page={{ matches_page_obj.paginator.num_pages }}#match-section">▷</a>
            {% endif %}
            </span>
        <span>
    </div>
    {% else %}
    <p>Данные отсутсвуют.</p>
    {% endif %}
</section>
{% endblock %}
