{% extends 'base.html' %}

{% block content %}
<h1>Таблица</h1>
{% if players %}
<table class="table table-striped table-hover table-sm">
    <thead class="table-dark"></thead>
        <tr>
            <th scope="col">Ранг</th>
            <th scope="col">Имя</th>
            <th scope="col">Рейтинг</th>
        </tr>
    </thead>
    <tbody>
    {% for player in players%}
        <tr>
        <th scope="row"><a href="#">{{ player.0 }}</a></th>
            <td>{{ player.1 }}</td>
            <td>{{ player.2 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<p>Данные отсутсвуют.</p>
{% endif %}

{% endblock %}